@model IEnumerable<ProductVM>?

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="container-fluid">
    <div class="col text-start offset-md-2  mt-lg-5">
        <h2>Игры для аренды</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="text-decoration-none link-secondary">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">игры</li>
            </ol>
        </nav>
        
    </div>
    
    <div class="col offset-md-2 mt-lg-3">
        <a asp-action="AddProduct" class="btn btn-primary rounded-4">Добавить игру</a>
    </div>
    
    <div class="col-md-8 offset-md-2 my-lg-3">
        @if (Model == null)
        {
            <div class="col text-center">
                <h2>Нет ни одной игры</h2>
            </div>
        }
        else
        {
            <table class="table table-sm table-striped border">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#id</th>
                    <th scope="col">Название</th>
                    <th scope="col">Категории</th>
                    <th scope="col">Изменить</th>
                    <th scope="col">Удалить</th>
                </tr>
                </thead>
                <tbody id="productBody">
                
                @foreach (var product in Model)
                {
                    <tr id="product_@product.Id">
                        <th scope="row">@product.Id</th>
                        <td>@product.Name</td>
                        <td>
                            @if (product.ProductCategories.Count == 0)
                            {
                                <span>-</span>
                            }
                            else
                            {
                                @product.ProductCategories[0].Name
                                for (int i = 1; i < product.ProductCategories.Count; i++)
                                {
                                    <span>/</span>@product.ProductCategories[i].Name
                                }
                            }
                        </td>
                        <td><a class="btn btn-sm btn-primary rounded-4 " asp-action="Update" asp-route-id=@product.Id>изменить</a></td>
                        <td><button class="btn btn-sm btn-danger rounded-4 " onclick="removeProduct(@product.Id)">удалить</button></td>
                    </tr>
                }
                

                </tbody>

            </table>
        }
    </div>
    
</div>

@section Scripts
{
    <script>
        async function removeProduct(id){
            const response=await fetch("Product/Delete/"+id);
            if (response.ok===true){
                const rowId="product_"+id;             
                const table=document.getElementById("productBody");
                console.log(table);
                const row=document.getElementById(rowId);
                console.log(row);
                table.removeChild(row);            
            }
         
        }
    </script>
}


